:root {
  --dark: #121212;
  --darkest: #0f0f0f;
  --light: #E2E2E2;
  --lightest: #f1f1f1;
  --neutral: #888;
  --accent: #081919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light);
}

body {
  background-color: var(--darkest);
}

ul {
  list-style: none;
}